body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* background-color: black; */
    background-image: url(images/bg5.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px 0px 0 0;
    margin: 0;
    padding: 0;
}

.contact a {
    color: #801336; /* Mengubah warna tautan yang belum dikunjungi */
    text-decoration: none; /* Menghapus garis bawah pada tautan */
    transition: transform 0.2s, background-color 0.2s;
  }
  
.contact a:hover {
    color: #801336; /* Mengubah warna tautan saat kursor mengarah ke atasnya */
    transform: scale(1.05);
  }
  
.contact a:visited {
    color: #801336; /* Mengubah warna tautan yang telah dikunjungi */
  }
  

nav.blurred{
    filter: blur(5px);
}

header {
    text-align: left;
    background-color: #000000; 
    color: #fff;
    padding: 10px;
    display: inline-flex;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

header h1 {
    font-size: 2em;
    margin: 0;
    display: inline-block;
    align-items: center;
}

div.col-sm{
    align-items: center;
    display: inline-block;
    gap: 5px;
    padding: 1%;
}

.container{
    flex: 1;
}


header button{
    display: flex;
}

section {
    padding: 40px;
}

.about{
    text-align: left;
    width: 100%;
    color: #801336;
    padding-top: 13%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
} 

.right{
    width: 40%;
}

.about img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    display: flex;
}

/* .description::before {
    content: attr(data-content); /* Mengambil nilai dari atribut data-content
  } */

.description{
    color: #000000;
    width: 50%;
    padding: 0px 20px;
    /* background-color: #801336; 
    border-radius: 0px 50px; */
}


.skill{
    text-align: left;
    padding-left: 10%;
    color: #000000;
    /* background-color: #801336; */
    background-image: url(images/bg3.jpg);
    background-size: cover;
    gap: 15px;
    align-items: center;
}

.skill button{
    padding: 6px 30px;
    color: #000000;
    background-color: #801336;
    /* color: #000000;
    border-width: 2px;*/
    border-color: #801336; 
}

.portfolio img{
    width: 200px;
    height: 300px;
    gap: 15px;
}

.contact {
    text-align: left;
    color: #801336;
    width: 40%;
    background-color: #000000;
    border-radius: 0px 80px;
    height: 300px;
}

.contact i{
    font-size: 2em;
    padding: 4px;
}

.about h2, .contact h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.skill h2{
    margin-bottom: 0px;
}

.btn-outline-secondary{
    border-color: #000000;
}



.kartu{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

/* .card{
    background-color: #000000;
    border-color: #000000;
    border-radius: 30px;
}

.card-body{
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.card-body a{
    background-color: #2d2d2d;
    border-color: #000000; 
}*/

.card {
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform 0.2s, background-color 0.2s; /* Efek transisi untuk hover */
  }
  
.card:hover {
    background-color: #801336; /* Warna latar belakang saat hover */
    transform: scale(1.05); /* Perbesar card saat hover */
    color: #fff;
}

.card-body i{
    font-size: 3em;
    /* display: flex;
    justify-content: center; */
}

.project {
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.project h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

footer {
    display: inline-flex;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}
@media screen and (max-width: 900px){
    .about{
        padding-top: 20%;
    }
}


@media screen and (max-width: 600px) {
    header{
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .about {
      text-align: center; /* Ubah ke tengah jika lebar layar kurang dari 600px */
      justify-content: center;
      align-items: center;
      padding-top: 20%;
      backdrop-filter: blur(20px);
    }

    .right {
        width: 100%;
        border-radius: 15px;
        padding: 10px;
    }

    .about img {
        align-items: center;
        place-items: center;
        justify-content: center;
    }

    .spacer{
        height: 50px;
    }
}